p {
    font-size: 15px;
    font-family: Arial;
    color: white;
}

h1 {
  font-style: italic;
  font-family: Arial;
  text-decoration: underline;
  font-weight: 100;
  margin: auto;
  color: white;
}
p{
 
  color: white;
}
div {
  background-color: black;
  width: 900px;
  margin:auto
}
img {
  width: 900px;
}
.Travel {

}
.Football {
  width: 600px;
 display:block;
 margin: auto;
}
body {
  background-color: black;
  
}
div {
  border: double white 10px;
}
h2 {
  font-style: italic;
  font-family: Arial;
  text-decoration: underline;
  font-weight: 100;
  margin: auto;
  color: white;
}
h3 {
  font-style: italic;
  font-family: Arial;
  text-decoration: underline;
  font-weight: 100;
  margin: auto;
  color: white;
}
h4 {
  font-style: italic;
  font-family: Arial;
  text-decoration: underline;
  font-weight: 100;
  margin: auto;
  color: white;
}